html, body {
	margin: 0;
	padding: 0;
	border: 0;
}
.container {
	max-width: 970px;
	margin: 0 auto;
}
.color {
	color: #1FB6D3;
}
.brandName {
	font-size: 40px;
	margin: 20px 0;
	text-decoration: none;
	color: #000;
}
#menu ul li{
	display: inline;
	margin-left: 15px;
	position: relative;
}
#menu li .dropdown li {
	background-color: #1FB6D3;
	box-sizing: border-box;
	height: 40px;
	display: block;
	color: #fff;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	margin: 0;
	margin-bottom: 8px;
}
#menu li .dropdown li a {
	color: #fff;
}
#menu li .dropdown li a:hover {
	color: #fff;
	text-decoration: underline;
}
.dropdown {
	position: absolute;
	margin: 35px 0 0;
	top: 100%;
	width: 180px;
	height: 0;
	left: 0;
	overflow: hidden;
	transition: height .5s ease .3s;
	padding: 0;
}
#menu li:hover .dropdown {
	height: 200px;
}
#menu  ul li a {
	font-size: 20px;
	text-decoration: none;
	color: #000;
}
#menu  ul li a:hover {
	color: #1FB6D3;
	border-bottom: 1px solid #1FB6D3;
}
.header-menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.banner {
	background-image: url(../img/banner.jpg);
	background-repeat: no-repeat;
	height: 575px;
	background-size: 100%;
	background-position: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-top: 1px solid #1FB6D3;
}
.banner h1  {
	color: #fff;
	font-size: 40px;
	text-align: center;
	margin-bottom: 35px;
	text-shadow: 1px 1px 1px #000;
}
.buttons {
	text-align: center;
}
.buttons .contact-us {
	font-size: 16px;
	text-decoration: none;
	background-color: #1FB6D3;
	color: #fff;
	padding: 13px;
	border-radius: 5px;
	width: 120px;
	height: 20px;
	display: inline-block;
	text-align: center;
	border: 2px solid #1FB6D3;
	text-shadow: 1px 1px #000;
}
.buttons .contact-us:hover {
	background-color: transparent;
	color: #1FB6D3;
}
.buttons .our-projects {
	font-size: 16px;
	text-decoration: none;
	background-color: #fff;
	color: #1FB6D3;
	padding: 13px;
	border-radius: 5px;
	width: 120px;
	height: 20px;
	display: inline-block;
	text-align: center;
	border: 2px solid #fff;
	text-shadow: 1px 1px #000;
}
.buttons .our-projects:hover {
	background-color: transparent;
	color: #1FB6D3;
}
.textWhy {
	text-align: center;
	font-size: 40px;
	margin: 80px 0;
	display: block;
	position: relative;
}
.textWhy::before {
    content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 100px;
    background: #1FB6D3;
    position: absolute;
    bottom: -20px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.whyUs {
	height: 200px;
	display: flex;
	justify-content: space-between;
	text-align: center;
}
.whyUs p {
	font-size: 20px;
	font-weight: bold;
}
.whyUs i {
	font-size: 100px;
	color:  #1FB6D3;
}
.ourWorks {
	height: 250px;
	background-color: #282828;
}
.ourWorks h2 {
	text-align: center;
	font-size: 35px;
	color: #fff;
	padding-top: 30px;
	position: relative;
}
.ourWorks h2::before {
	content: '';
    display: block;
    position: absolute;
    height: 1px;
    width: 180px;
    background: #1FB6D3;
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.ourWorks p {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}
#works ul {
	text-align: center;
	position: relative;
}
#works ul li {
	display: inline;
	margin: 0 15px;
	padding-bottom: 19px;
}
#works ul li:first-child {
	border-bottom: 3px solid #1FB6D3;
}
#works ul li:hover {
	border-bottom: 3px solid #1FB6D3;
}
#works ul::before {
	height: 1px;
	position: absolute;
	width: 380px;
	margin: 41px 0;
	margin-left: 15px;
	content: "";
	background-color: #888;
}
#works ul li a {
	font-size: 20px;
	text-decoration: none;
	color: #fff;
	transition: .5s;
}
#works ul li a:hover {
	color: #1FB6D3;
}
.img-wrap {
	display: inline-block;
	position: relative;
	overflow: hidden;
	font-size: 0;
}
.img-wrap:hover .img-toast {
	bottom: 0px;
	text-decoration: underline;
}
.img-toast {
	position: absolute;
	width: 100%;
	height: 60px;
	bottom: -60px;
	display: block;
	background-color: rgba(77,208,225, .6);
	color: #fff;
	padding: 0 15px;
	transition: all .5s ease-in-out;
}
.img-toast a {
	font-size: 20px;
	color: #fff;
	text-decoration: none;
}
.images img {
	width: 334px;
	height: 240px;
}
.btn-next .view {
	font-size: 16px;
	text-decoration: none;
	background-color: #1FB6D3;
	color: #fff;
	padding: 13px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #1FB6D3;
	width: 140px;
	height: 45px;
}
.btn-next .view:hover {
	background-color: transparent;
	color: #1FB6D3;
}
.btn-next .detail {
	font-size: 16px;
	text-decoration: none;
	background-color: #000;
	color: #1FB6D3;
	padding: 13px;
	border-radius: 5px;
	width: 140px;
	height: 45px;
	display: inline-block;
	text-align: center;
	box-sizing: border-box;
	border: 1px solid #888;
}
.btn-next .detail:hover {
	background-color: transparent;
	color: #1FB6D3;
}
.presentation {
	height: 650px;
}
.post {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 90px 25px;
}
.btn-next a {
	margin: 0 3px;
	display: block;
}
.textInfo p {
	margin: 10px 0;
	padding: 10px;
	font-size: 18px;  
	line-height: 30px;
}
.textInfo h2 {
	font-size: 40px;
	margin: 0;
}
.subText {
	text-align: center;
	font-size: 20px;
 	display: block;
 	padding-bottom: 20px;
}
.services {
	display: flex;
	align-items: flex-end;
	line-height: 30px;
}
.services i {
	font-size: 35px;
	color: #1FB6D3;
}
.services p {
	font-size: 17px;
	white-space:;
	padding: 0 30px;
	color: #888;
}
.services h4 {
	font-size: 20px;
	text-align: center;
	margin: 0;
}
#subscribe {
	height: 120px;
	background: url(../img/subscribe-bg.jpg);
	background-size: cover;
	background-position: center bottom;
	display: block;
	text-align: center;
	margin-top: 120px;
}
#subscribe h2 {
	font-size: 25px;
	color: #fff;
	padding-top: 15px;
}
#subscribe form input[type="email"]{
	padding: 10px;
	border: 0;
	border-radius: 3px;
	width: 200px;
	font-weight: bold;
	font-size: 14px;
	box-shadow: 2px 2px #000;
}
#subscribe form input[type="submit"]{
	padding: 10px;
	border: 0;
	border-radius: 3px;
	width: 130px;
	background-color: #1FB6D3;
	font-size: 14px;
	font-weight: bold;
	box-shadow: 2px 2px #000;
}
#subscribe form input[type="submit"]:hover {
	background-color: #888;
	color: #fff;
}
.social-links p {
	font-size: 17px;
	display: block;
	color: #fff;
}
.social-links h2 {
	font-size: 40px;
	color: #fff;
}
.social-links i {
	font-size: 60px;
	color: #1FB6D3;
	margin: 0 5px;
}
.social-links .fa-facebook:hover {
	transition: 1s;
	color: #3b5999;
}
.social-links .fa-vk:hover {
	transition: .5s;
	color: #4c75a3;
}
.social-links .fa-instagram:hover {
	transition: .5s;
	color: #e4405f;
}
.social-links .fa-youtube:hover {
	transition: .5s;
	color: #cd201f;
}
.links ul li {
	margin: 25px 0;
	list-style: none;
	position: relative;
}
.links ul li::before {
	position: absolute;
	display: block;
	content: "";
	width: 50px;
	height: 1px;
	background-color: #fff;
	margin-top: 25px;
}
.links ul li a {
	text-decoration: none;
	font-size: 20px;
	color: #1FB6D3;
}
.links ul li a:hover {
	color: #fff;
}
.links p {
	font-size: 23px;
	color: #fff;
	display: block;
	width: 189px;
    height: 20px;
}
.inner .links:first-child {
	width: 150px;
}
.links nav ul:last-child {
	padding: 0;
}
.inner {
	display: flex;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	width: 300px;
	margin: 0 10px;
}
.main-wrap {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
}
.news a {
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	display: block;
	text-align: center;
}
.news img {
	width: 160px;
	height: 100px;
	margin: 0 auto;
	display: block;
}
.news a:hover {
	color: #1FB6D3;
}
.news p {
	text-align: center;
	color: #fff;
	font-size: 15px;
}
.news h4 {
	color: #fff;
	text-align: center;
	font-size: 22px;
}
.all {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #000;
}
.hr-line {
	width: 100%;
	height: 2px;
	background-color: #888;
}
.copyright {
	background-color: #000;
	color: #fff;
	margin: 0 auto;
	text-align: center;
}

	@media (max-width: 768px) {
		.header-menu {
			display: block;
		}
		#menu ul {
			padding: 0;
			text-align: center;
		}
		#menu ul li {
			margin: 3px;
		}
		#menu ul li a {
			font-size: 17px;
		}
		.brandName {
			display: block;
			text-align: center;
			font-size: 35px;
		}
		.banner {
			height: 280px;
			background-size: cover;
		}
		.buttons .our-projects .contact-us {
			border: none;
		}
		.introText h1 {
			font-size: 27px;
		}
		.textWhy {
			margin: 40px 0;
		}
		.ourWorks p {
			padding: 0 12px;
			margin-bottom: 15px;
		}
		.whyUs {
			display: flex;
      justify-content: space-around;
		}
		.whyUs i {
			font-size: 120px;
		}
		#works ul li a {
			font-size: 17px;
		}
		#works ul li {
			padding-bottom: 12px;
			margin: 0 8px;
		}
		#works ul {
			padding: 0;
			margin: 0;
		}
		#works ul::before {
			display: none;
		}
		.img-wrap {
		  width: 100%;
		}
		.images img {
    width: 100%;
    height: 400px;
		}
		.presentation {
			width: 100%;
			height: 466px;
		}
		.textInfo h2 {
			margin-top: 30px;
		}
		.textInfo p {
			text-align: center;
			padding: 0 12px;
			margin: 10px 0;
			font-size: 16px;	
		}
		.post img {
			display: none;
		}
		.post {
			padding: 0;
			display: flex;
			flex-direction: column-reverse;
		}
		.services {
			display: none;
		}
		#subscribe {
			height: 130px;
			margin-top: -55px;
		}
		#subscribe form input[type="email"] {
			width: 155px;
		}
		#subscribe h2 {
			height: 48px;
			padding-top: 10px;
			font-size: 20px;
		}
		.subText {
			display: none;
		}
		.news {
			display: inline-flex;
		}
		.news h4 {
			display: none;
		}
		.all {
			display: flex;
			flex-direction: column;
		}
		.main-wrap {
			margin: 20px 0;
			padding: 0 30px;
		}
		.social-links {
			text-align: center;
			margin: 0 10px;
		}
		.social-links h2 {
			margin: 10px 0;
		}
	}
